@import '~/styles/variables.scss';

.title {
  font-size: 21px;
  text-align: center;
  font-weight: 600;
  background-color: $white;
  margin-bottom: 40px;
}

.container {
  max-width: 730px;
  margin: 0 auto;
  padding: 50px 20px;
  font-family: Arial, Helvetica, sans-serif;
}
